.home {
    width: 100%;
    align-items: center;
    font-family: "Arial", sans-serif;
    color: #3e497a;
    padding-top: 10px;
  }
  
  .about {
    width: 100%;
    height: calc(100vh - 5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-image: url(../assets/Pavan_backgroundgpt.webp);
    color: #f0f0f0;
    } 

    /*.about {
      width: 100%;
      height: calc(100vh - 5px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: #f0f0f0;
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                  url(../assets/Pavan_backgroundgpt.webp);
      background-size: cover;
      background-blend-mode: overlay;
    } */
    

    .about h2 {
        /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;*/
        font-family: cursive, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 80px;
        color: #003d6e;
        height: 1000px;
    }

    .about .prompt {
        width: 80%;
        font-size: 30px;
        
    }

     

  .prompt svg {
    font-size: 40px;
    margin: 8px;
    color: rgb(253, 253, 251);
  }

  /*.prompt h6 {
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    color: #000000;
  }*/

  .prompt h6 {
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    color: #000000;
    background-color: rgba(240, 240, 240, 0.7); /* Light gray background */
    padding: 5px; /* Space around the text */
    border-radius: 5px; /* Rounded corners */
    display: block; /* Ensures the background wraps tightly around the text */
  }
  
  
  .skills {
    font-size: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .skills h1 {
    color: #3e497a;
  }
  
  .skills .list {
    list-style: none;
    width: 60%;
  }
  
  .list span {
    font-size: 20px;
  }
  
  @media only screen and (max-width: 600px) {
    .about h2 {
      font-size: 40px;
    }
  
    .about .prompt {
      margin-top: 10px;
      font-size: 20px;
      width: 80%;
      text-align:justify;
      justify-content:center;
    }
  
    .skills {
      text-align: center;
    }
    .list {
      padding: 0;
    }
  
    .skills h2 {
      font-size: 30px;
    }

  }
